@import 'settings';
@import 'foundation-emails';

@import 'template/template';

$primary-color: #e16e1e;
$secondary-color: #1c323b;
.steps {
    margin-top: 20px;

    
    .active {       
        th {
            padding: 10px;                        
            color: $white;
            background-image: url(http://imgur.com/6feMq36.png);
            background-repeat: no-repeat;
            background-position: center;
            text-align: center;
            overflow: hidden;
            white-space: nowrap;
        }
    }
    .inactive {
        th {
            padding: 10px;
            color: $dark-gray;
            background-position: center; 
            background-image: url(http://imgur.com/vOxhaqd.png);
            background-repeat: no-repeat;
            text-align: center;
            overflow: hidden;
            white-space: nowrap;
        }
    }
}
// wrapper

.wrapper {
    
    &.header {
        background-color: $secondary-color;

        .container {
            background-color: $secondary-color;
        }
    }
    &.primary {
        background: $primary-color;
        
        .container {
            background: $primary-color;
        }
    
        td, p {
            color: $white;    
        }
    }
    &.light {
        background-color: $white;

        .container {
            background-color: $white;
        }

        h2 {
            color: $primary-color;
        }
    }

}

.summary {
    background-image: url(http://imgur.com/BoRJa1R.png) !important;
    background-repeat: no-repeat!important;
    background-position-x: center!important;
    background-position-y: -110px!important;
}